body {
    background-color: #777;
    color: #777;
    font-family: 'arial', 'helvetica neue', helvetica, sans-serif;
    width: '960px'
    font-size:'18px'
}

.box-1, {
    position: relative;
    font-size: 15px;
    padding: 10px;
    text-align: center;
    background-color:#ebebeb; 
    color: #777;
    margin: auto;
    float: center;
    width: 60%;
}

.box-2{
    top: 10px;
    font-size: 15px;
    padding: 10px;
    text-align: center;
    background-color: #ebebeb;
    color: #777;
    margin:auto;
    float: center;
    width: 60%;
}

.box-3{
    font-size: 15px;
    background-color: #ebebeb;
    color: #777;
    width: 495px;
    text-align: center;
}

.box-4{
    font-size: 15px;
    background-color: #ebebeb;
    color: #777;
    text-align: center;
}

.box-5{
    font-size: 15px;
    background-color: #ebebeb;
    color: #777;
    text-align: center;
}