body {
    background-color: #777;
    color: #777;
    font-family: 'arial', 'helvetica neue', helvetica, sans-serif;
    width: '960px'
    font-size:'18px'
}

.header {
    font-size: 15px;
    padding: 10px;
    text-align: center;
    background-color:#ebebeb; 
    color: #777;
    float: center;
    width:880px;
    margin-left: 180px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.nav{
    font-size: 15px;
    padding: 10px;
    text-align: center;
    background-color: #ebebeb;
    color: #777;
    float: center;
    width: 880px;
    margin-left: 180px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.section{
    font-size: 15px;
    padding: 10px;
    background-color: #ebebeb;
    color: #777;
    width: 495px;
    text-align: center;
    float: left;
    margin-left: 180px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.aside{
    font-size: 15px;
    padding: 10px;
    background-color: #ebebeb;
    color: #777;
    width: 350px;
    text-align: center;
    float: right;
    margin-right: 270px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.footer{
    font-size: 15px;
    padding: 10px;
    background-color: #ebebeb;
    color: #777;
    text-align: center;
    margin-left: 60px;
    margin-bottom: 20px;
    margin-top: 10px;
}
